div {
  display: flex;
  flex-direction: column;
}
#subteams {
  margin: 10px;
}
span {
  font-size: 20px;
}
#sub {
  font-size: 20px;
  font-weight: 550;
  margin: 0;
}
#Teams {
  font-size: 22px;
  font-weight: 575;
}
button {
  width: 100px;
}
#TeamsBut {
  width: 250px;
}
