<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
  <link rel="stylesheet" href="{{ url_for('static', filename='assign_style.css') }}">
    <title>New Assignment</title>
</head>
<body>
<div class=down>
  <span id=signature>
    <h1 id=name>Replication</h1>
    <h1>10 Points Possible</h1>
  </span>
  <p id=date>Due: Tue Jan 13, 2026 11:59pm</p>
</div>
<div>
  <select>
    <option>Attempt 1</option>
  </select>
  <svg height=50 width=50 xmlns=https://codepen.io/Jaden-Shiu/pen/emzdqpb>
    <circle cx=25 cy=25 r=20 fill=none stroke=black></circle>
    <!--AI search "svg arc html"-->
    <path d="M 25 4 A 21 21 0 0 1 43 36" fill=none stroke=#047635 stroke-width=2px />
  </svg>
  <div class=down id=prog>
    <p id=progress>In Progress</p>
    <p id=next>NEXT UP: Submit Assignment</p>
  </div>
  <p id=comment>Add Comment</p>
</div>
<p><b>Unlimited Attempts Allowed</b></p>
<details>
</details>
</body>
</html>