<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
<title>Software Engineering (H) (Spring 2026)</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='home_style.css') }}">
</head>
<body>

<div id=head class=subhead>
  <h3 id=domain>ATHENIAN</h3>
  <h1>SOFTWARE ENGINEERING</h1>
</div>

<div id=welcome class=subhead>
  <img src="https://miro.medium.com/0*BGPRbg4AI2GlhXOm.gif" alt="Computer Science meme">
  <p id=greet>Welcome to Software Engineering!</p>
  <h2 id="links"><a href="https://docs.google.com/document/d/1jSXKHgdv6td3nEFh6HkwM6GxXuJDiLR6sZZv2R9YRWY/edit?usp=sharing">Useful Links</a> |
    <a href="https://docs.google.com/forms/d/e/1FAIpQLScdqp96B66eAoz32A0hqKKLkuDbvm5gUCtUSAvwi7sFiADo6w/viewform">Anonymous Feedback</a> |
    <a href="https://docs.google.com/document/d/1YLEePXUDUMO9wDrXsVDNLNhmP5lo2ulHUuTv3H2HngE/edit?usp=sharing">Syllabus</a> |
    <a href="https://drive.google.com/drive/folders/1lVT9IGOkNBy6tF0O-cgaD4pRcPIowLzp?usp=drive_link">Slides</a></h2>
</div>

<div id=date class=subhead>
  <h2 id=unit><b>Unit 1:</b> Jan 6 - Jan 13</h2>
</div>

<div class=gray>
  <div class=doub>
    <h2>DAY 1</h2>
    <h4>JAN 6</h4>
  </div><div class=doub>
  <p><u>Agenda & Content</u><br>
    Keyboard Challenge<br>
    Course Introduction<br>
    <a href="https://docs.google.com/document/d/1YLEePXUDUMO9wDrXsVDNLNhmP5lo2ulHUuTv3H2HngE/edit?usp=sharing">Syllabus Review</a><br>
    <a href="https://athenian.instructure.com/courses/8231/pages/codepen-setup">Codepen setup</a><br>
    HTML basics</p>
  <p><u>Homework</u><br>
    <a href="https://shiu.store">Your First Web Page (HTML)</a></p>
  </div></div>

<div><div class=doub>
  <h2>DAY 2</h2>
  <h4>JAN 9</h4></div><div class=doub>
  <p><u>Agenda & Content</u><br>
    <a href="https://drive.google.com/drive/folders/1lVT9IGOkNBy6tF0O-cgaD4pRcPIowLzp?usp=drive_link">CSS Introduction</a><br>
    Display Layouts (FlexBox)<br>
    <a href=https://css-tricks.com/snippets/css/a-guide-to-flexbox>Guide to FlexBox</a><br>
    Chrome DevTools (CSS)</p>
  <p><u>Homework</u><br>
    <a href="https://shiu.store">Your First Web Page (CSS)</a></p>
  </div></div>

<div class=gray><div class=doub>
  <h2>DAY 3</h2>
  <h4>JAN 12</h4></div><div class=doub>
  <p><u>Agenda & Content</u><br>
    Display Layouts (FlexBox)<br>
    <a href="https://css-tricks.com/snippets/css/a-guide-to-flexbox/">Guide to FlexBox</a>
  <p><u>Homework</u><br>
    <a href="https://shiu.store/assignment">Replication</a></p>
  </div></div>

<div>
  <h2 id=cnc>C&C MEETINGS</h2><div class=doub>
  <p>Tuesdays and Thursdays<br>
    10:45 - 11:20am</p>
  <h4 id=location>Middlefield 1</h4></div>
  <p>Or by appointment</p>
</div>

<div class=gray>
  <h2 id=tests>ASSESSMENTS</h2>
  <p><a href="https://shiu.store/idle">Make an idle game</a></p>
</div>
</body>
</html>