<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FRC</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script defer src="{{ url_for('static', filename='script.js') }}"></script>
</head>
<body>
<header>
    <h1>Farming Robots Competition</h1>
</header>
<div id=resources>
    <span id=Teams></span>
        <p id=sub>Subteam members:</p>
    <div id=subteams>
        <span id=Design></span>
        <span id=Fabrication></span>
        <span id=Electronics></span>
        <span id=Programming></span>
        <span id=Operations></span>
    </div>
    <span id=Robots></span>
</div>
<label>Robot Progress:</label>
<progress id="prog" max=100 value=0></progress>
</body>
<footer><button id=reset>Reset</button></footer>
</html>
